@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.basketContainer {
  @include flexDirection(flex, column, null, 50px);
  padding: $pa-page;
  @include sm {
    padding: $pa-responsive;
  }
  .basketNav {
    @include flex-space(flex, center, 10px);
    .homeLink {
      font-size: $fs-lg;
      color: $link-color;
      text-decoration: underline;
      font-family: Epilogue-Regular;
    }
    .basketLink {
      font-size: $fs-lg;
      color: $primary-color;
      text-decoration: underline;
      font-family: Epilogue-Regular;
    }
  }
  .basketEmpty {
    @include flexDirection(flex, column, null, 30px);
    h3 {
      font-family: Epilogue-Regular;
    }
    .startShopping {
      @include w-h(218px, 56px);
      @include flex-center;
      background-color: $bg-color2;
      border-radius: $br-s;

      a {
        font-family: Epilogue-Regular;
        color: $primary-color;
      }
    }
  }
  .basketProduct {
    @include flexDirection(flex, column, null, 30px);
    .basketTitle {
      @include space-between;
      span {
        @include sm {
          font-size: $fs-md;
        }
      }
      .titlePrice {
        padding-left: 195px;
        @include sm {
          padding-left: 94px;
        }
        @include xs {
          padding-left: 48px;
        }
      }
    }
    .basketItems {
      @include flexDirection(flex, column, start, 30px);
      border-top: $br-6;
      border-bottom: $br-6;

      .basketItemContainer {
        @include align(flex, space-between, center);
        width: 100%;
        .basketContentContainer {
          @include flex-space(flex, center, 10px);
          @include sm {
            @include w-h(145px, auto);
          }
          @include xs {
            @include w-h(100px, auto);
          }

          .contentImage {
            .imageContainer {
              img {
                @include w-h(80px, 115px);
                object-fit: contain;
                @include sm {
                  @include w-h(50px, 75px);
                }
              }
            }
            .removeButton {
              button {
                border: none;
                background: transparent;
                cursor: pointer;
                @include sm {
                  img {
                    @include w-h(25px, 25px);
                  }
                }
              }
            }
          }
          .contentTitle {
            @include w-h(195px, auto);
            @include sm {
              @include w-h(185px, auto);
            }
            @include xs {
              @include w-h(80px, auto);
            }
            span {
              font-size: $fs-md;
              font-family: Epilogue-Regular;
              @include sm {
                font-size: $fs-xs;
              }
            }
          }
        }
        .priceContainer {
          @include w-h(63px, auto);
          @include sm {
            @include w-h(33px, auto);
            font-size: $fs-sm;
          }
        }
        .quantityContainer {
          @include w-h(100px, 40px);
          @include align(flex, center, center);
          gap: 10px;
          border: $br-5;
          border-radius: $br-s;
          @include sm {
            @include w-h(58px, auto);
            font-size: $fs-xs;
          }
          button {
            border: none;
            background: transparent;
            cursor: pointer;
          }
        }
        .totalContainer {
          @include sm {
            @include w-h(37px, auto);
            font-size: $fs-sm;
          }
        }
      }
    }
    .basketSummary {
      @include align(flex, space-between, center);
      @include xs {
        @include flexDirection(flex, column, start, 20px);
      }
      .clearButton {
        button {
          @include w-h(120px, 40px);
          font-family: Epilogue-Regular;
          background: transparent;
          color: $secondary-color;
          border-radius: $br-s;
          border: 1px solid $link-color;
          cursor: pointer;
          @include sm {
            @include w-h(85px, 27px);

            font-size: $fs-xs;
          }
          @include xs {
            font-size: $fs-xs;
          }
        }
      }
      .basketCheckout {
        @include flexDirection(flex, column, start, 20px);
        .subTotal {
          @include align(flex, space-between, center);
          width: 100%;
          @include sm {
            font-size: $fs-md;
          }
          span {
            font-family: Epilogue-Regular;
          }
          //   .amount {

          //   }
        }
        .description {
          font-size: $fs-sm;
          font-family: Epilogue-Regular;
          @include sm {
            font-size: $fs-xs;
          }
        }
        .checkoutButton {
          button {
            @include w-h(234px, 56px);
            background-color: $span-color;
            border-radius: $br-s;
            color: $bg-color;
            border: none;
            cursor: pointer;
            @include sm {
              @include w-h(234px, 26px);
              font-size: $fs-xs;
            }
          }
        }
        .startShopping {
          @include w-h(218px, 56px);
          @include flex-center;

          a {
            font-family: Epilogue-Regular;
            color: $primary-color;
            font-size: $fs-md;
            @include sm {
              font-size: $fs-sm;
            }
          }
        }
      }
    }
  }
}
