@font-face {
  font-family: Epilogue-Regular;
  src: url(/assets/fonts/Epilogue-Regular.ttf);
}
.headerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgb(224, 224, 224);
  position: fixed;
  z-index: 1000;
  min-width: 100%;
  background: rgb(247, 247, 247);
}
@media (max-width: 475px) {
  .headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    position: relative;
    height: 200px;
  }
}
@media (max-width: 475px) {
  .headerNav .headerLogoContainer {
    position: absolute;
    top: 28px;
  }
}
@media (max-width: 475px) {
  .headerNav .headerLogoContainer img {
    width: 200px;
  }
}
.headerNav .headerLogoContainer .menuBar {
  display: none;
}
@media (max-width: 475px) {
  .headerNav .headerLogoContainer .menuBar {
    display: flex;
  }
}
.headerNav .headerLogoContainer .searchMenuContainer {
  display: none;
}
@media (max-width: 475px) {
  .headerNav .headerLogoContainer .searchMenuContainer {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 475px) {
  .headerNav .headerList {
    display: none;
  }
}
.headerNav .headerList ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: Epilogue-Regular;
}
.headerNav .headerList ul li {
  font-size: 18px;
}
.headerNav .headerList ul li a {
  color: rgb(9, 8, 8);
}
.headerNav .headerList ul li a:hover {
  color: rgb(219, 68, 68);
  transition: 0.2s;
}
.headerNav .headerContactContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}
.headerNav .headerContactContainer .headerInput {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 475px) {
  .headerNav .headerContactContainer .headerInput {
    display: none;
  }
}
.headerNav .headerContactContainer .headerInput input {
  width: 243px;
  height: 38px;
  border: none;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  padding: 8px;
  font-size: 12px;
}
.headerNav .headerContactContainer .headerInput img {
  position: absolute;
  right: 4%;
}
.headerNav .headerContactContainer .headerIcons {
  display: flex;
  align-items: center;
  gap: 50px;
  position: relative;
}
@media (max-width: 475px) {
  .headerNav .headerContactContainer .headerIcons {
    position: absolute;
    top: 66px;
    right: 10px;
  }
}
@media (max-width: 368px) {
  .headerNav .headerContactContainer .headerIcons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    position: absolute;
    top: 70px;
    right: 33px;
  }
}
.headerNav .headerContactContainer .headerIcons a {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 475px) {
  .headerNav .headerContactContainer .headerIcons img {
    width: 25px;
    height: 25px;
  }
}
.headerNav .headerContactContainer .headerIcons .wishlistIcon {
  position: absolute;
}
.headerNav .headerContactContainer .headerIcons .wishlistIcon .wishlistCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 23px;
  border-radius: 50%;
  background: rgb(219, 47, 17);
  color: rgb(247, 247, 247);
  position: absolute;
  top: -13px;
  right: 0px;
}
.headerNav .headerContactContainer .headerIcons .wishlistIcon .wishlistCount span {
  position: absolute;
  top: 2px;
  right: 6px;
  color: rgb(247, 247, 247);
  font-size: 16px;
}
.headerNav .headerContactContainer .headerIcons .basketIcon {
  position: absolute;
}
@media (max-width: 475px) {
  .headerNav .headerContactContainer .headerIcons .basketIcon {
    top: 3px;
  }
}
@media (max-width: 368px) {
  .headerNav .headerContactContainer .headerIcons .basketIcon {
    top: 44px !important;
  }
}
.headerNav .headerContactContainer .headerIcons .basketIcon .basketCount {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 23px;
  border-radius: 50%;
  background: rgb(219, 47, 17);
  color: rgb(247, 247, 247);
  position: absolute;
  top: -13px;
  right: 0px;
}
@media (max-width: 475px) {
  .headerNav .headerContactContainer .headerIcons .basketIcon .basketCount {
    position: absolute;
    top: -13px;
    right: 0px;
  }
}
@media (max-width: 368px) {
  .headerNav .headerContactContainer .headerIcons .basketIcon .basketCount {
    position: absolute;
    top: -17px;
    right: -1px;
  }
}
.headerNav .headerContactContainer .headerIcons .basketIcon .basketCount span {
  position: absolute;
  top: 2px;
  right: 6px;
  color: rgb(247, 247, 247);
  font-size: 16px;
}
@media (max-width: 368px) {
  .headerNav .headerContactContainer .profileMenu {
    position: absolute;
    top: 80px;
    right: -25px;
  }
}/*# sourceMappingURL=header.module.css.map */