@font-face {
  font-family: Epilogue-Regular;
  src: url(/assets/fonts/Epilogue-Regular.ttf);
}
.homeContainer {
  padding: 200px 80px;
}
@media (max-width: 475px) {
  .homeContainer {
    padding: 25px 15px;
  }
}
.homeContainer .loadingContainer {
  display: flex;
  align-items: center;
  gap: 30px;
}
.homeContainer .ProductCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  margin-top: 200px;
  padding-top: 50px;
}
.homeContainer .ProductCardContainer .pageTitle {
  position: absolute;
  top: -100px;
  left: 0;
}
.homeContainer .ProductCardContainer .productCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .productCard {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.homeContainer .ProductCardContainer .showAllButton button {
  width: 234px;
  height: 56px;
  background-color: rgb(219, 68, 68);
  border-radius: 4px;
  color: rgb(247, 247, 247);
  font-family: Epilogue-Regular;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .showAllButton button {
    width: 150px;
    height: 46px;
    font-size: 12px;
  }
}
.homeContainer .ProductCardContainer .categoryMenu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-top: 2px solid rgb(161, 159, 159);
  padding: 100px 0;
  padding-top: 50px;
  margin-top: 30px;
  width: 100%;
}
.homeContainer .ProductCardContainer .topSellingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 100px 0;
  border-top: 2px solid rgb(161, 159, 159);
  margin-top: 30px;
  width: 100%;
  padding-top: 50px;
}
.homeContainer .ProductCardContainer .topSellingContainer .topSellingTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .topSellingContainer .topSellingTitle {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    flex-wrap: wrap;
  }
}
.homeContainer .ProductCardContainer .topSellingContainer .topSellingContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-bottom: 30px;
  overflow-y: auto;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .topSellingContainer .topSellingContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.homeContainer .ProductCardContainer .flashProductContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: rgb(9, 8, 8);
  padding: 0 50px;
  position: relative;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .flashProductContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 22px;
  z-index: 1000;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    text-align: center;
    padding-top: 16px;
    position: relative;
  }
}
.homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer span {
  color: rgb(0, 255, 102);
  font-size: 14px;
  font-family: Epilogue-Regular;
}
.homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer h2 {
  font-family: Epilogue-Regular;
  font-size: 28px;
  color: rgb(247, 247, 247);
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer h2 {
    font-size: 18px;
  }
}
.homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer .timer {
  color: rgb(247, 247, 247);
  font-size: 40px;
}
.homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 171px;
  height: 56px;
  background-color: rgb(0, 255, 102);
  color: rgb(79, 79, 79);
  border-radius: 4px;
  font-family: Epilogue-Regular;
  cursor: pointer;
}
.homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer a:hover {
  color: rgb(252, 163, 17);
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .flashProductContainer .flashContentContainer a {
    position: absolute;
    width: 110px;
    height: 35px;
    font-size: 12px;
    top: 410px;
  }
}
.homeContainer .ProductCardContainer .flashProductContainer .flashImage {
  width: 600px;
  height: 420px;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .flashProductContainer .flashImage {
    padding-top: 16px;
    position: relative;
  }
  .homeContainer .ProductCardContainer .flashProductContainer .flashImage img {
    position: absolute;
    top: 53px;
    right: 206px;
    width: 200px;
  }
}
.homeContainer .ProductCardContainer .exploreProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  width: 100%;
  margin-top: 150px;
  padding-top: 50px;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .exploreProductsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.homeContainer .ProductCardContainer .exploreProductsContainer .pageTitleExplore {
  position: absolute;
  top: -100px;
  left: 0;
}
.homeContainer .ProductCardContainer .exploreProductsContainer .exploreContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .exploreProductsContainer .exploreContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  position: relative;
  width: 100%;
  margin-top: 150px;
  padding-top: 50px;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .pageTitleArrival {
  position: absolute;
  top: -100px;
  left: 0;
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container {
  width: 100%;
  height: 588px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: start;
  padding: 40px 0;
  background-color: rgb(9, 8, 8);
  position: relative;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container {
    width: 100%;
    height: 340px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container img {
  object-fit: contain;
  position: absolute;
  bottom: 0;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container img {
    width: 300px;
    height: auto;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container .ps5Content {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  z-index: 1000;
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container .ps5Content h4 {
  font-family: Epilogue-Regular;
  font-size: 18px;
  color: rgb(247, 247, 247);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container .ps5Content p {
  width: 290px;
  height: auto;
  font-family: Epilogue-Regular;
  font-size: 14px;
  color: rgb(247, 247, 247);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container .ps5Content a {
  font-size: 14px;
  color: rgb(247, 247, 247);
  font-family: Epilogue-Regular;
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .ps5Container .ps5Content a:hover {
  color: rgb(252, 163, 17);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 588px;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer {
    width: 100%;
    height: 400px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat {
  width: 100%;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: start;
  padding: 30px 0;
  background-color: rgb(9, 8, 8);
  position: relative;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat {
    width: 100%;
    height: 160px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat img {
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat img {
    position: absolute;
    width: 243px;
    height: auto;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat .hatContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  z-index: 1000;
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat .hatContent h4 {
  font-family: Epilogue-Regular;
  font-size: 18px;
  color: rgb(247, 247, 247);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat .hatContent p {
  width: 290px;
  height: auto;
  font-family: Epilogue-Regular;
  font-size: 14px;
  color: rgb(247, 247, 247);
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat .hatContent p {
    width: 290px;
    height: auto;
    font-size: 12px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat .hatContent a {
  font-family: Epilogue-Regular;
  font-size: 14px;
  color: rgb(247, 247, 247);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .hat .hatContent a:hover {
  color: rgb(252, 163, 17);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper {
    width: 100%;
  }
}
@media (max-width: 368px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: start;
  padding: 40px 0;
  width: 270px;
  height: 284px;
  background-color: rgb(9, 8, 8);
  position: relative;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker {
    width: 170px;
    height: 230px;
  }
}
@media (max-width: 368px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker {
    width: 100%;
    height: 230px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker img {
  position: absolute;
  width: 183px;
  height: 183px;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 35px;
  }
}
@media (max-width: 368px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker .speakerContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  z-index: 1000;
}
@media (max-width: 368px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker .speakerContent {
    width: 86%;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker .speakerContent h4 {
  font-family: Epilogue-Regular;
  font-size: 18px;
  color: rgb(247, 247, 247);
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker .speakerContent h4 {
    font-size: 16px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker .speakerContent p {
  font-family: Epilogue-Regular;
  font-size: 14px;
  color: rgb(247, 247, 247);
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker .speakerContent p {
    width: 140px;
    height: auto;
    font-size: 12px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker .speakerContent a {
  font-family: Epilogue-Regular;
  font-size: 14px;
  color: rgb(247, 247, 247);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .speaker .speakerContent a:hover {
  color: rgb(252, 163, 17);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume {
  width: 270px;
  height: 284px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: start;
  padding: 40px 0;
  background-color: rgb(9, 8, 8);
  position: relative;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume {
    width: 170px;
    height: 230px;
  }
}
@media (max-width: 368px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume {
    width: 100%;
    height: 230px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume img {
  position: absolute;
  width: 183px;
  height: 183px;
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume img {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 35px;
  }
}
@media (max-width: 368px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume .parfumeContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  z-index: 1000;
}
@media (max-width: 368px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume .parfumeContent {
    width: 86%;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume .parfumeContent h4 {
  font-family: Epilogue-Regular;
  font-size: 18px;
  color: rgb(247, 247, 247);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume .parfumeContent p {
  font-family: Epilogue-Regular;
  font-size: 14px;
  color: rgb(247, 247, 247);
}
@media (max-width: 475px) {
  .homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume .parfumeContent p {
    width: 140px;
    height: auto;
    font-size: 12px;
  }
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume .parfumeContent a {
  font-family: Epilogue-Regular;
  font-size: 14px;
  color: rgb(247, 247, 247);
}
.homeContainer .ProductCardContainer .newArrivalContainer .newArrivalWrapper .arrivalProductsContainer .innerProductsWrapper .parfume .parfumeContent a:hover {
  color: rgb(252, 163, 17);
}/*# sourceMappingURL=home.module.css.map */