@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

// SearchMenu.module.scss

.searchMenu {
  position: relative;
  left: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;

  &:focus {
    outline: none;
  }
  .searchMenuIcon {
    img {
      @include w-h(30px, 30px);
    }
  }

  .line {
    width: 23px;
    height: 2px;
    background: black;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  &.open {
    .line:first-child {
      transform: rotate(45deg);
    }

    .line:nth-child(2) {
      opacity: 0;
      transform: translateX(20px);
    }

    .line:nth-child(3) {
      transform: rotate(-45deg);
    }
  }
}

.menu {
  position: absolute;
  left: 50px;
  width: 240px;
  height: 17px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  transform: translateX(-200%);
  transition: transform 0.3s ease-in-out;
  // @include xs {
  //   position: absolute;
  // }

  &.open {
    transform: translateX(0);
  }

  a {
    font-size: 14px;
    font-weight: normal;
    font-family: Epilogue-Regular;
    text-decoration: none;
    color: black;
    transition: color 0.3s linear;

    &:hover {
      color: rgba(252, 163, 17);
    }
  }
}
