@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.headerNav {
  @include space-around;
  border-bottom: $br-1;
  @include sm {
    @include align(flex, space-between, center);
    padding: $pa-responsive;
    position: relative;
  }
  .headerLogoContainer {
    @include sm {
    }
    img {
      @include sm {
        width: 200px;
      }
    }
    .menuBar {
      display: none;
    }
    @include sm {
      .menuBar {
        display: flex;
      }
    }
  }
  .headerList {
    @include sm {
      display: none;
    }
    ul {
      @include flex-space(flex, center, 30px);
      li {
        a {
          @include sm {
          }
          color: $primary-color;
        }
      }
    }
  }
  .headerContactContainer {
    @include flex-space(flex, center, 20px);

    .headerInput {
      @include sm {
        display: none;
      }
      position: relative;
      @include flex-space(flex, center, null);
      input {
        @include w-h(243px, 38px);
        border: none;
        background-color: $input-color;
        border-radius: $br-s;
        padding: $pa-s;
        font-size: $fs-xs;
      }
      img {
        position: absolute;
        right: 4%;
      }
    }
    .headerBasketIcons {
      @include flex-space(flex, center, 30px);
      position: relative;
      @include sm {
        position: absolute;
        top: 64px;
        right: 30px;
      }

      a {
        display: flex;
      }
      img {
        @include sm {
          @include w-h(25px, 25px);
        }
      }
      .wishlistCount {
        @include w-h(20px, 23px);
        border-radius: 50%;
        background: rgb(219, 47, 17);

        position: absolute;
        top: -13px;
        left: 13px;
        span {
          position: absolute;
          top: 2px;
          right: 6px;
          color: $bg-color;
          font-size: $fs-md;
        }
      }
      .basketCount {
        @include w-h(20px, 23px);
        border-radius: 50%;
        background: rgb(219, 47, 17);

        position: absolute;
        top: -13px;
        right: 0px;
        // .bgGreen {
        //   background: rgb(17, 105, 219);
        // }
        // .bgRed {
        // }

        span {
          position: absolute;
          top: 2px;
          right: 6px;
          color: $bg-color;
          font-size: $fs-md;
        }
      }
    }
  }
}
