@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.headerNav {
  @include space-around;
  border-bottom: $br-1;
  position: fixed;
  z-index: 1000;
  min-width: 100%;
  background: $bg-color;
  @include sm {
    @include align(flex, space-between, center);
    padding: $pa-responsive;
    position: relative;
    height: 200px;
  }
  .headerLogoContainer {
    @include sm {
      position: absolute;
      top: 28px;
    }
    img {
      @include sm {
        width: 200px;
      }
    }
    .menuBar {
      display: none;
    }
    @include sm {
      .menuBar {
        display: flex;
      }
    }
    .searchMenuContainer {
      display: none;
    }
    @include sm {
      .searchMenuContainer {
        display: flex;
        align-items: center;
      }
    }
  }
  .headerList {
    @include sm {
      display: none;
    }
    ul {
      @include flex-space(flex, center, 30px);
      font-family: Epilogue-Regular;

      li {
        a {
          @include sm {
          }
          color: $primary-color;
        }
      }
    }
  }
  .headerContactContainer {
    @include flex-space(flex, center, 20px);

    .headerInput {
      @include sm {
        display: none;
      }
      position: relative;
      @include flex-space(flex, center, null);
      input {
        @include w-h(243px, 38px);
        border: none;
        background-color: $input-color;
        border-radius: $br-s;
        padding: $pa-s;
        font-size: $fs-xs;
      }
      img {
        position: absolute;
        right: 4%;
      }
    }
    .headerIcons {
      @include flex-space(flex, center, 50px);
      position: relative;
      @include sm {
        position: absolute;
        top: 66px;
        right: 10px;
      }
      @include xs {
        @include flexDirection(flex, column, center, 15px);
        position: absolute;
        top: 70px;
        right: 18px;
      }

      a {
        @include flex-space(flex, center, 20px);
      }
      img {
        @include sm {
          @include w-h(25px, 25px);
        }
      }
      .wishlistIcon {
        position: absolute;
        .wishlistCount {
          @include flex-center;
          @include w-h(20px, 23px);
          border-radius: 50%;
          background: rgb(219, 47, 17);
          color: $bg-color;
          position: absolute;
          top: -13px;
          right: 0px;
          span {
            position: absolute;
            top: 2px;
            right: 6px;
            color: $bg-color;
            font-size: $fs-md;
          }
        }
      }
      .basketIcon {
        position: absolute;
        .basketCount {
          @include flex-center;
          @include w-h(20px, 23px);
          border-radius: 50%;
          background: rgb(219, 47, 17);
          color: $bg-color;
          position: absolute;
          top: -13px;
          right: 0px;
          @include sm {
            position: absolute;
            top: -13px;
            right: 53px;
          }
          @include xs {
            position: absolute;
            top: 22px;
            right: -8px;
          }

          span {
            position: absolute;
            top: 2px;
            right: 6px;
            color: $bg-color;
            font-size: $fs-md;
          }
        }
      }
    }
    // .profileMenu{

    // }
  }
}
