@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.homeContainer {
  padding: $pa-page;
  @include sm {
    padding: $pa-responsive;
  }
  // .sliderContainer {
  //   display: flex;
  // }
  .loadingContainer {
    @include flex-space(flex, center, 30px);
  }

  .ProductCardContainer {
    @include flexDirection(flex, column, center, 30px);
    position: relative;
    margin-top: 200px;
    padding-top: 50px;

    .pageTitle {
      position: absolute;
      top: -100px;
      left: 0;
    }
    .productCard {
      @include space(flex, space-between, center, 10px);
      flex-wrap: wrap;
      width: 100%;
      @include sm {
        @include align(flex, center, center);
      }
    }
    .showAllButton {
      button {
        @include w-h(234px, 56px);
        background-color: $span-color;
        border-radius: $br-s;
        color: $bg-color;
        font-family: Epilogue-Regular;
        font-size: $fs-md;

        border: none;
        cursor: pointer;
        @include sm {
          @include w-h(150px, 46px);
          font-size: $fs-xs;
        }
      }
    }
    .categoryMenu {
      @include flexDirection(flex, column, null, 50px);
      border-top: $br-6;
      padding: 100px 0;
      padding-top: 50px;

      margin-top: 30px;
      width: 100%;
    }
    .topSellingContainer {
      @include flexDirection(flex, column, center, 50px);
      padding: 100px 0;
      border-top: $br-6;
      margin-top: 30px;
      width: 100%;
      padding-top: 50px;

      .topSellingTitle {
        @include align(flex, space-between, center);
        width: 100%;
        @include sm {
          @include flexDirection(flex, column, start, 20px);
          flex-wrap: wrap;
        }
      }
      .topSellingContent {
        @include space(flex, space-between, center, 20px);
        padding-bottom: 30px;
        overflow-y: auto;
        @include sm {
          @include align(flex, center, center);
          flex-wrap: wrap;
        }
      }
    }
    .flashProductContainer {
      @include align(flex, space-between, center);
      @include w-h(100%, 500px);
      background-color: $primary-color;
      padding: 0 50px;
      position: relative;
      @include sm {
        @include flexDirection(flex, column, center, null);
      }
      .flashContentContainer {
        @include flexDirection(flex, column, start, 22px);
        @include sm {
          @include flexDirection(flex, column, center, 22px);
          text-align: center;
          padding-top: $pa-m;
          position: relative;
        }
        span {
          color: $flash-color;
          font-size: $fs-sm;
          font-family: Epilogue-Regular;
        }
        h2 {
          // @include w-h(260px, auto);
          font-family: Epilogue-Regular;
          font-size: $fs-2xl;
          color: $bg-color;
          @include sm {
            font-size: $fs-lg;
          }
        }
        .timer {
          color: $bg-color;
          font-size: $fs-4xl;
        }
        a {
          @include flex-center;
          @include w-h(171px, 56px);
          background-color: $flash-color;
          color: $list-color;
          border-radius: $br-s;
          font-family: Epilogue-Regular;
          cursor: pointer;
          &:hover {
            color: $hover-color;
          }
          @include sm {
            position: absolute;
            @include w-h(110px, 35px);
            font-size: $fs-xs;
            top: 410px;
          }
        }
      }
      .flashImage {
        img {
          @include w-h(600px, 420px);
        }
        @include sm {
          padding-top: $pa-m;
          position: relative;
          img {
            position: absolute;
            bottom: 167px;
            left: -88px;
            @include w-h(182px, 126px);
          }
        }
      }
    }
    .exploreProductsContainer {
      @include flexDirection(flex, column, center, 30px);
      position: relative;
      width: 100%;
      margin-top: 150px;
      padding-top: 50px;
      @include sm {
        @include align(flex, center, center);
        flex-wrap: wrap;
      }

      .pageTitleExplore {
        position: absolute;
        top: -100px;
        left: 0;
      }
      .exploreContent {
        @include align(flex, space-between, center);
        flex-wrap: wrap;

        @include sm {
          @include align(flex, center, center);
          flex-wrap: wrap;
        }
      }
    }
    .newArrivalContainer {
      @include flexDirection(flex, column, center, 30px);
      position: relative;
      width: 100%;
      margin-top: 150px;
      padding-top: 50px;
      @include sm {
        @include align(flex, center, center);
        flex-wrap: wrap;
      }
      .pageTitleArrival {
        position: absolute;
        top: -100px;
        left: 0;
      }
      .newArrivalWrapper {
        @include space(flex, space-between, center, 30px);
        width: 100%;
        @include sm {
          @include space(flex, center, center, 10px);
          flex-wrap: wrap;
        }
        .ps5Container {
          @include w-h(100%, 588px);
          @include flexMulti(flex, column, end, center, start, null);
          padding: 40px 0;
          background-color: $primary-color;
          position: relative;
          @include sm {
            @include w-h(100%, 340px);
          }
          img {
            object-fit: contain;
            position: absolute;
            bottom: 0;
            @include sm {
              @include w-h(300px, auto);
            }
          }
          .ps5Content {
            @include flexDirection(flex, column, start, 20px);
            z-index: 1000;

            h4 {
              font-family: Epilogue-Regular;
              font-size: $fs-lg;
              color: $bg-color;
            }
            p {
              @include w-h(290px, auto);
              font-family: Epilogue-Regular;
              font-size: $fs-sm;
              color: $bg-color;
            }
            a {
              font-size: $fs-sm;
              color: $bg-color;
              font-family: Epilogue-Regular;
              &:hover {
                color: $hover-color;
              }
            }
          }
        }
        .arrivalProductsContainer {
          @include flexDirection(flex, column, center, 20px);
          @include w-h(100%, 588px);
          @include sm {
            @include w-h(100%, 400px);
          }

          .hat {
            @include w-h(100%, 284px);
            @include flexMulti(flex, column, end, center, start, null);
            padding: 30px 0;
            background-color: $primary-color;
            position: relative;
            @include sm {
              @include w-h(100%, 160px);
            }
            img {
              object-fit: contain;
              position: absolute;
              top: 0;
              right: 0;
              @include sm {
                position: absolute;
                @include w-h(243px, auto);
              }
            }
            .hatContent {
              @include flexDirection(flex, column, start, 20px);
              z-index: 1000;
              h4 {
                font-family: Epilogue-Regular;
                font-size: $fs-lg;
                color: $bg-color;
              }
              p {
                @include w-h(290px, auto);
                font-family: Epilogue-Regular;
                font-size: $fs-sm;
                color: $bg-color;
                @include sm {
                  @include w-h(290px, auto);
                  font-size: $fs-xs;
                }
              }
              a {
                font-family: Epilogue-Regular;

                font-size: $fs-sm;
                color: $bg-color;
                &:hover {
                  color: $hover-color;
                }
              }
            }
          }
          .innerProductsWrapper {
            @include space(flex, space-between, center, null);
            @include w-h(100%, null);
            position: relative;
            @include sm {
              @include w-h(100%, null);
            }
            @include xs {
              @include w-h(100%, null);
              @include flexDirection(flex, column, center, 10px);
            }
            .speaker {
              @include flexMulti(flex, column, end, center, start, null);
              padding: 40px 0;
              @include w-h(270px, 284px);
              background-color: $primary-color;
              position: relative;
              @include sm {
                @include w-h(170px, 230px);
              }
              @include xs {
                @include w-h(100%, 230px);
              }
              img {
                position: absolute;
                @include w-h(183px, 183px);
                @include sm {
                  @include w-h(120px, 120px);
                  position: absolute;
                  top: 35px;
                }
                @include xs {
                  @include w-h(150px, 150px);
                  position: absolute;
                  top: 35px;
                }
              }
              .speakerContent {
                @include flexDirection(flex, column, start, 20px);
                z-index: 1000;
                @include xs {
                  width: 86%;
                }
                h4 {
                  font-family: Epilogue-Regular;
                  font-size: $fs-lg;
                  color: $bg-color;
                  @include sm {
                    font-size: $fs-md;
                  }
                }
                p {
                  font-family: Epilogue-Regular;
                  font-size: $fs-sm;
                  color: $bg-color;
                  @include sm {
                    @include w-h(140px, auto);
                    font-size: $fs-xs;
                  }
                }
                a {
                  font-family: Epilogue-Regular;

                  font-size: $fs-sm;
                  color: $bg-color;
                  &:hover {
                    color: $hover-color;
                  }
                }
              }
            }
            .parfume {
              @include w-h(270px, 284px);
              @include flexMulti(flex, column, end, center, start, null);
              padding: 40px 0;
              background-color: $primary-color;
              position: relative;
              @include sm {
                @include w-h(170px, 230px);
              }
              @include xs {
                @include w-h(100%, 230px);
              }
              img {
                position: absolute;
                @include w-h(183px, 183px);
                @include sm {
                  @include w-h(120px, 120px);
                  position: absolute;
                  top: 35px;
                }
                @include xs {
                  @include w-h(150px, 150px);
                  position: absolute;
                  top: 35px;
                }
              }
              .parfumeContent {
                @include flexDirection(flex, column, start, 20px);
                z-index: 1000;
                @include xs {
                  width: 86%;
                }
                h4 {
                  font-family: Epilogue-Regular;

                  font-size: $fs-lg;
                  color: $bg-color;
                }
                p {
                  font-family: Epilogue-Regular;
                  font-size: $fs-sm;
                  color: $bg-color;
                  @include sm {
                    @include w-h(140px, auto);
                    font-size: $fs-xs;
                  }
                }
                a {
                  font-family: Epilogue-Regular;

                  font-size: $fs-sm;
                  color: $bg-color;
                  &:hover {
                    color: $hover-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
