@use "../../../styles/partials/fonts" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.contentStyle {
  @include flexMulti(flex, column, center, center, center, null);
  height: 550px;
  color: #fff;
  line-height: 160px;
  background: $secondary-color;
  .productTitle {
    @include w-h(null, 170px);

    font-family: Epilogue-Regular;
    font-size: $fs-2xl;
    @include sm {
      font-size: $fs-md;
    }
  }
  .imageContainer {
    position: relative;
    img {
      @include w-h(530px, 180px);
      object-fit: contain;
      transition: transform 0.5s ease-in-out;
      @include sm {
        @include w-h(170px, 60px);
      }
    }
    img:hover {
      transform: scale(1.2);
      object-fit: contain;
    }
  }
  .shopButton {
    @include w-h(500px, 100px);
    @include align(flex, flex-start, center);
    padding-left: 50px;
    @include sm {
      @include w-h(255px, auto);
    }
    a {
      color: $bg-color;
      font-family: Epilogue-Regular;
      font-size: $fs-xl;
      @include sm {
        font-size: $fs-md;
      }
    }
    a:hover {
      color: $hover-color;
    }
  }
}

.aboutSliderContainer {
  @include w-h(700px, 460px);
  @include sm {
    @include w-h(320px, 460px);
  }
}
