@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.checkoutConatiner {
  @include flexDirection(flex, column, center, 50px);
  padding: $pa-page;
  @include sm {
    padding: $pa-responsive;
  }
  .navigateLinks {
    @include space(flex, null, center, 10px);
    width: 100%;
    .toBasket {
      color: $link-color;
      font-size: $fs-md;
      font-family: Epilogue-Regular;
    }
    .toCheckout {
      color: $primary-color;
      font-size: $fs-md;
      font-family: Epilogue-Regular;
    }
  }
  .checkoutContentContainer {
    @include align(flex, space-evenly, flex-start);
    @include sm {
      @include flexDirection(flex, column, flex-start, 20px);
    }
    .checkoutFormWrapper {
      @include flexDirection(flex, column, start, 30px);

      h1 {
        color: $primary-color;
        font-size: $fs-2xl;
        font-family: Epilogue-Regular;
      }
      .form {
        @include sm {
          @include w-h(310px, auto);
        }
        label {
          font-size: $fs-sm;
          font-family: Epilogue-Regular;
        }
      }
    }
    .checkoutDataWrapper {
      // @include w-h(400px, 600px);
      @include flexDirection(flex, column, start, 20px);
      @include sm {
        // width: 0;
      }
      .checkoutData {
        overflow-y: auto;
        div {
          @include space(flex, space-evenly, center, 50px);
          @include sm {
            @include space(flex, space-evenly, center, 30px);
          }
        }
        img {
          @include w-h(70px, 115px);
          object-fit: contain;
          @include sm {
            @include w-h(60px, 100px);
          }
        }
        span {
          color: $primary-color;
          font-size: $fs-md;
          font-family: Epilogue-Regular;
          @include sm {
            font-size: $fs-sm;
          }
        }
      }
      .checkoutTotalWrapper {
        @include flexDirection(flex, column, start, 20px);
        .checkoutshipping {
          @include space(flex, space-evenly, center, 281px);
          @include sm {
            @include space(flex, space-evenly, center, 217px);
          }
        }
        .checkoutTotal {
          @include space(flex, space-evenly, center, 309px);
          border-top: $br-6;
          padding-top: $pa-l;
          @include sm {
            @include space(flex, space-evenly, center, 241px);
          }
        }
        span {
          color: $primary-color;
          font-size: $fs-md;
          font-family: Epilogue-Regular;
          @include sm {
            font-size: $fs-sm;
          }
        }
      }
      .chooseBank {
        @include space(flex, space-evenly, center, 241px);
        @include sm {
          @include space(flex, space-evenly, center, 192px);
        }
        .bankImageWrapper {
          @include space(flex, space-evenly, center, 20px);
        }
        span {
          color: $primary-color;
          font-size: $fs-md;
          font-family: Epilogue-Regular;
          @include sm {
            font-size: $fs-sm;
          }
        }
        img {
          @include w-h(42px, 28px);
          @include sm {
            @include w-h(30px, 20px);
          }
        }
      }
      .payOrder {
        button {
          @include w-h(234px, 56px);
          background-color: $span-color;
          border-radius: $br-s;
          color: $bg-color;
          border: none;
          cursor: pointer;
          @include sm {
            @include w-h(160px, 35px);
            font-size: $fs-sm;
          }
        }
      }
    }
  }
}
